img {
    width:10rem;
    height:10rem;
}
nav{
    display:grid;
    grid-template-columns:repeat(12,1fr) ;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px;
    width: 100% ;
}

.form-inline{
    grid-column: 4/9;

}
.search-length{
    grid-column: 4/9;
}
.alpha{
    background: url("images/whiteBCG.png") left center ;
    color: white;
    border-bottom: 2px solid white;
    height:100px;

}
.yo{
    width: 90%;
}

body{
    background: url("images/spiderweb.jpg");
}

#content{
    display:grid;
    grid-template-columns:repeat(12,1fr) ;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px;
    margin: 0 auto;
    position: relative;
}

header{
    grid-column: 1/13;
}


main{
    grid-column: 5/13;
    border-left: 1px solid black;
}

aside{
    margin-top: -17% ;
    grid-column: 1/5;
}


@media only screen and (max-width: 1000px) {

    main{    margin-top: -17% ;

        grid-column: 7/13;
        border-left: 1px solid black;
        /*width: 100%;*/
    }

    aside{
        margin-top: -20% ;
        grid-column: 1/7;
    /*width: 100%;*/
    }

        /*img {*/
            /*width: 4rem;*/
            /*height:10rem;*/
        /*}*/

}

