html,body{
    margin: 0;
    padding:0;
    background-image: url("images/whiteBCG.png");
}
.beta {
    /*height: 450px;*/
    /*width: 90%;*/

}
.aligning{
    text-align :justify;
}
.alpha{
    background: url("images/blueSpasrkle.jpg") top center;
    color: white;
    border-radius: 0;
}

.car-dis{
    display:inline-block;
}

.alpha1{
    background:url("images/redBlue.jpg");
    background-size: 100%;
    height: 100%;
}
.contact-us{
    justify-items: center;
}