html,body{
    margin: 0;
    padding:0;
}

.beta{
    /*height: 450px;*/
}

.alpha{
    background: url("images/banjo.jpg") left center ;
    color: white;
}
.car-dis{
    display:inline-block;
}
.alpha1{
    background:url("images/woodTree.jpg");
    background-size: 100%;
    height: 100%;
}