html,body{
    margin: 0;
    padding:0;
}

.beta{
    height: 500px;
}

.alpha{
    background: url("images/banjo.jpg") left center ;
    color: white;
}

.alpha1{
    background: url("images/woodTree.jpg");
    background-attachment: scroll;
    background-size: 100%;
}