html,body{
    margin: 0;
    padding:0;
    height: 100%;
    background-image: url("images/whiteBCG.png") ;
}

.beta {
    /*height: 450px;*/
    /*width: 90%;*/
    /*opacity: 0.8;*/
    border-radius: 5px;
    background-color: #0e91a1;
}

.full_size{
    align-self: baseline;
    margin-top: 20vh;
    font-weight: bolder;
    border-radius: 5px;
    opacity: 1;
    font-size: 15vh;
}

.aligning{
    text-align :justify;
}

.jumbotron{
    height: 25vh;
    display: block;
}

.alpha{
    background: url("images/blueSpasrkle.jpg") top center ;
    color: white;
    height: 100%;
    /*opacity: 0.7;*/
    border-radius: 5px;
}

.car-dis{
    display:inline-block;
}

.alpha1{
    background:url("images/redBlue.jpg");
    background-size: 100%;
    /*opacity:0.9;*/
    height: 100%;
}

.contact-us{
    justify-items: center;
}